{% extends "layout.html" %}
{% from "macros/fields.html" import render_text_field, render_boolean_field, render_alert %}

{% block title %} Manager dashboard {% endblock %}


{% block css %}
    <style>
        /* Style the Image Used to Trigger the Modal */
        /* Taken from: https://www.w3schools.com/howto/howto_css_modal_images.asp */

        #ticketImage:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }

    </style>
{% endblock %}
{% block content %}
    {% for ticket in tickets %}
        {% if ticket.id == selected_ticket_id %}
            <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="row gx-4 col-10">

                    <div class="col-xl-6 mb-4">
                        <div class="card mb-4 card-header-actions h-100">
                            <div class="card-header">
                                <b>Summary of the ticket #{{ ticket.id }}</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <h4 class="col-9">Name: {{ ticket.name }}</h4>
                                    <h4 class="col-3 state">{{ ticket.state.value }}</h4>
                                </div>
                                <div class="row">
                                    <b class="card-text me-5 float-start mt-2">Reported
                                        by: {{ all_users[ticket.reporter_id - 1].fullname }}</b>
                                    {% if ticket.assignee_id != None %}
                                        <b class="card-text me-5 mb-3 float-start mt-2">Assignee: {{ all_users[ticket.assignee_id].fullname }}</b>
                                    {% else %}
                                        <p class="card-text me-5 mb-3 float-start mt-2">Assignee: Nobody is assigned</p>
                                    {% endif %}

                                </div>
                                <b style="color:red">Report date !!!!!TODO!!!!!</b>
                                <h4 class="mt-3">Description:</h4>
                                <p>{{ ticket.description }}</p>


                                {% if ticket.image_path != None %}
                                    <hr>
                                    <div class="d-flex justify-content-center align-items-center mt-4">
                                        <img src="{{ ticket.image_path }}" class="img-fluid rounded-start"
                                             alt="{{ ticket.image_path }}" id="ticketImage">
                                    </div>
                                    <div id="myModal" class="modal">
                                        <span class="close">&times;</span>
                                        <img class="modal-content" id="img01" alt="{{ ticket.image_path }}">
                                    </div>

                                {% else %}
                                    <hr>
                                    <label for="ticketImage" class="">User has not uploaded an image for this
                                        ticket</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 mb-4">
                        <div class="card mb-4 card-header-actions h-100">
                            <div class="card-header">
                                Comments of ticket: <b>{{ ticket.name }}</b>
                            </div>
                            <div class="card-body">
                                lasldalsdlasd
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}


{% endblock %}

{% block js %}
    <script>
        // NICER IMAGE VIEW
        // Get the modal
        const modal = document.getElementById("myModal");
        // Get the image and insert it inside the modal
        const img = document.getElementById("ticketImage");
        const modalImg = document.getElementById("img01");
        const captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        // Get the <span> element that closes the modal
        const span = document.getElementsByClassName("close")[0];
        const myModal = document.getElementById("myModal");
        // When the user clicks on <span> (x) or anywhere, close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        myModal.onclick = function () {
            modal.style.display = "none";
        }


        let statesList = document.getElementsByClassName("state");

        for (let i = 0; i < statesList.length; i++) {
            if (statesList[i].innerHTML === "New") {
                statesList[i].style.color = "red";
            } else if (statesList[i].innerHTML === "Planned") {
                statesList[i].style.color = "purple";
            } else if (statesList[i].innerHTML === "Work In Progress") {
                statesList[i].style.color = "orange";
            } else if (statesList[i].innerHTML === "Done") {
                statesList[i].style.color = "green";
            }
        }
    </script>
{% endblock %}

