{% extends "layout.html" %}
{% from "macros/fields.html" import render_text_field, render_boolean_field, render_alert %}

{% block title %} Assigned Tasks {% endblock %}

{% block content %}
    <div class="row justify-content-end align-items-center">
        <div class="col-sm-2"><input value="Hide completed tasks" class="btn btn-primary" type="button" id="hide"
                                     onclick="func()"/></div>
    </div>
    <br>
    {% for task in service_tasks %}
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="card col-10 {{ task.state.value }}" style="max-width: 1000px; min-height: 100px;">
                <div class="row g-0" style="min-height: 100px;">
                    <div class="col-md-7 mx-3 mt-1">
                        <h4 class="card-title">
                            <a href="{{ url_for("technician.task_view") }}?taskId={{ task.id }}">
                            {{ task.name }}
                            </a>
                        </h4>
                        <p class="card-text">{{ task.description[:140] }}</p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2 align-self-center">
                                {% if task.days_to_complete != None %}
                                    Done by <b>{{ task.days_to_complete }}</b>
                                {% else %}
                                    No estimate
                                {% endif %}

                    </div>
                    <div class="col-md-1 mx-3 align-self-center">
                        <b class="state">{{ task.state.value }}</b>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script>
        function func() {
            if (document.getElementById("hide").value == "Hide completed tasks") {
                $('.Work in progress').show();
                $('.Planned').show();
                $('.Done').hide();
                document.getElementById("hide").value = "Show completed tasks";
            } else {
                $('.Work in progress').show();
                $('.Planned').show();
                $('.Done').show();
                document.getElementById("hide").value = "Hide completed tasks";
            }
        }

        let statesList = document.getElementsByClassName("state");
        for (let i = 0; i < statesList.length; i++) {
            if (statesList[i].innerHTML === "New") {
                statesList[i].style.color = "red";
            } else if (statesList[i].innerHTML === "Planned") {
                statesList[i].style.color = "purple";
            } else if (statesList[i].innerHTML === "Work In Progress") {
                statesList[i].style.color = "orange";
            } else if (statesList[i].innerHTML === "Done") {
                statesList[i].style.color = "green";
            }
        }

        window.onload = func();

    </script>
{% endblock %}
